.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;

    &.right {
        justify-content: flex-end;
    }

    &.left {
        justify-content: flex-start;
    }

    &.spaceBetween {
        justify-content: space-between;
    }

    button {
        &:not(:first-of-type) {
            margin-left: 8px;
        }
    }
}
